### 연산자

##### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [1]:
5 + 1

6

In [2]:
5 - 1

4

In [3]:
5 * 2

10

In [4]:
5 / 2

2.5

In [5]:
5 % 2

1

In [6]:
5 // 2

2

In [7]:
5 ** 2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [8]:
5 > 2

True

In [9]:
5 >= 2

True

In [10]:
5 < 2

False

In [11]:
5 <= 2

False

In [12]:
5 == 2

False

In [13]:
5 != 2

True

##### 논리 연산자
- and : 논리 곱 / 둘다 옳아야 옳음
- or : 논리 합 / 둘중 하나만 옳아도 옳음
- not : 논리 부정 / 반대되는 성질

In [22]:
True and True

True

In [15]:
(5 > 2) and (5 <= 2)

False

In [16]:
True or False

True

In [17]:
(5 > 2) or (5 <= 2)

True

In [18]:
not True

False

In [20]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않는다.

즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음.

In [24]:
variable = 10;
variable

10

In [26]:
variable = True
variable

True

In [27]:
variable = 'Apple'
variable

'Apple'

In [28]:
variable = 10.324
variable

10.324

In [29]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 문자열
- 논리형

In [30]:
type(10)

int

In [31]:
type(10.0)

float

In [33]:
type(True)

bool

In [34]:
type("A")

str

### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열으로 변환

In [35]:
int(10.34)

10

In [38]:
int(True)

1

In [40]:
int (False)

0

In [42]:
int ('10')

10

In [46]:
int('10.34') #-> 에러발생

ValueError: invalid literal for int() with base 10: '10.34'

In [49]:
float(10)

10.0

In [52]:
float(True)

1.0

In [54]:
float(False)

0.0

In [57]:
float('10') # or float('10.01')

10.0

In [60]:
float('a')

ValueError: could not convert string to float: 'a'

In [62]:
bool(10)

True

In [64]:
bool(0) # 0을 제외한 모든 숫자들을 True로 반환

False

In [66]:
bool('a') # 값이 있을 경우 True

True

In [67]:
bool('') # 값이 없을 경우 False

False

In [71]:
str(False) # 안에 뭐가 있든 문자열로 변환가능

'False'

### NaN, Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [73]:
float('NaN') # 문자열을 넣으면 에러가 뜸

nan

In [76]:
float('InF') # 양의 무한대

inf

In [77]:
float('-Inf') # 음의 무한대

-inf

### 대입연산자

- '=' : 좌항에 우항을 대입
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-='  : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면  
변수 += 1, 변수 -= 1